{% extends "boostrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<nav class="navbar navbar-fixed-top">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Management</a>
                <div class="dropdown-menu" aria-lavelledby="navbarDropdown">
                    <a class="dropdown-item" href="/newuser">Add New User</a>
                    <a class="dropdown-item" href="/allusers">Show All Users</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Delete Users</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/upload">File Upload</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link disabled" href="/showpdf">View PDF</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/texting">Send Text Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/scan">Scan Code</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Generate new Code</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{% endblock %}

{% block content %}
<h1>Hello, Bootstrap</h1>
<input type="submit" value="Send" class="btn btn-primary col-md-4">
{% endblock %}