<html>
    <header>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </header>
    <body>
        <div class="table-responsibe-md">
        <form action = "{{ url_for('addrec') }}" method = "POST" class="table-primary">
            <h3>Student Information</h3>
            Name<br />
            <input type = "text" name = "nm" /><br />

            Address<br />
            <textarea name = "add"></textarea><br />

            City<br />
            <input type = "text" name="cty" /><br />

            PINCODE<br />
            <input type="text" name="pin" class="form-inline my-2 my-lg-0" /><br />
            <br />
            <input type ="submit" value="submit" class="btn btn-danger col-md-2"/><br />
        </form>
        </div>
    </body>
</html>